.container {
  @include content-padding-inline;
  @include page-grid;

  align-items: start;
}

.back_button {
  grid-column: 1 / -1;
  margin-bottom: 24px;

  @include on-tablet {
    margin-block: 16px;
  }
}

.title {
  @include page-title;

  grid-column: 1 / -1;
  margin-bottom: 32px;
}

.products_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-column: 1 / -1;
  margin-bottom: 32px;

  @media (min-width: 1024px) {
    grid-column: 1 / 9;
    margin: 0;
  }

  @include on-desktop {
    grid-column: 1 / 17;
  }
}

.checkout_container {
  grid-column: 1 / -1;
  padding: 24px;
  border: 1px solid $gray-elements;
  border-radius: 16px;

  @media (min-width: 1024px) {
    grid-column: 9 / -1;
  }

  @include on-desktop {
    grid-column: 17 / -1;
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 23px;
  background-color: white;
  padding: 16px;
  border: 1px solid $gray-elements;
  border-radius: 16px;

  @include on-tablet {
    flex-direction: row;
    padding: 24px;
  }
}

.product_container_first {
  display: flex;
  align-items: center;
  gap: 30px;

  @include on-tablet {
    gap: 38px;
  }
}

.button_delete {
  @include icon-properties;
  
  flex-shrink: 0;
  background-image: url(/public/img/icons/close-gray.svg);
}

.image_link {
  display: flex;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.image {
  height: 66px;
}

.product_name {
  text-decoration: none;
  color: $black-color;
}

.product_container_second {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    gap: 53px;
  }
}

.quantity_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96px;
}

.quantity_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid $gray-icons;
  border-radius: 50%;
  transition: 0.3s;

  &:hover {
    border-color: $black-color;
  }

  &_disabled {
    border-color: $gray-elements;
  }
}

.icon_minus {
  @include icon-properties;

  background-image: url(/public/img/icons/minus.svg);

  &_disabled {
  background-image: url(/public/img/icons/minus-gray.svg);
  }
}

.quantity {
  color: $black-color;
}

.icon_plus {
  @include icon-properties;

  background-image: url(/public/img/icons/plus.svg);
}

.product_price {
  font-weight: 800;
  font-size: 22px;
  line-height: 31px;
  color: $black-color;
}

.total_price {
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  color: $black-color;

  text-align: center;
}

.checkout_text {
  padding-bottom: 16px;
  border-bottom: 1px solid $gray-elements;
  margin-bottom: 16px;
  text-align: center;
}

.checkout_button {
  @include blue-buttons;
}
