.container {
  display: flex;
  background-color: white;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  height: $header-height;
  border-bottom: 1px solid $gray-elements;
  z-index: 1;

  @include on-tablet {
    justify-content: flex-start;
  }

  @include on-desktop {
    height: $header-height-desktop;
    padding-left: 24px;
  }
}

.logo_link {
  display: flex;

  @include on-tablet {
    margin-right: 32px;
  }

  @include on-desktop {
    margin-right: 48px;
  }
}

.logo {
  width: 64px;
  height: 22px;

  @include on-desktop {
    width: 80px;
    height: 28px;
  }
}

.button_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $header-height;
  height: $header-height;
  border-left: 1px solid $gray-elements;

  @include on-tablet {
    display: none;
  }
}

.icon_menu {
  @include icon-properties;

  background-image: url(/public/img/icons/menu.svg);

  // &_close {
  //   background-image: url(/public/img/icons/close.svg);
  // }
}
