.container {
  display: flex;
  gap: 4px;
  justify-self: start;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $black-color;
  }
}

.arrow {
  @include icon-properties;

  background-image: url(/public/img/icons/arrow.svg);
}

.text {
  align-self: flex-end;
  line-height: 14px;
  font-size: 12px;
  font-weight: 700;
}
