.container {
  @include content-padding-inline;
}

.title {
  @include page-title;

  margin-bottom: 8px;
}

.items_quantity {
  margin-bottom: 32px;

  @include on-tablet {
    margin-bottom: 40px;
  }
}

.cards {
  @include cards-container;
}
