.container {
  font-size: 0;
  line-height: 0;
}

.image {
  width: 100%;
  margin-bottom: 18px;
}

.indicators_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 66px;
}

.indicator {
  background-color: $gray-elements;
  width: 14px;
  height: 4px;
  margin-right: 14px;

  &_last {
    margin: 0;
  }

  &_active {
    background-color: $black-color;
  }
}
