.container {
  width: 212px;
  padding: 32px;
  border: 1px solid $gray-elements;
  border-radius: 8px;
  background-color: white;

  @include on-tablet {
    width: 237px;
  }

  @include on-desktop {
    width: 272px;
  }

  // &_catalog {
  //   width: 287px;

  //   @include on-tablet {
  //     width: 100%;
  //   }
  // }
}

.image_container {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.image {
  height: 129px;

  @include on-tablet {
    height: 202px;
  }
}

.name {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: $black-color;
  margin-bottom: 8px;
}

.price_container {
  display: flex;
  padding-bottom: 8px;
  border-bottom: 1px solid $gray-elements;
  margin-bottom: 16px;
}

.price {
  font-size: 22px;
  font-weight: 800;
  line-height: 31px;
  color: $black-color;
  margin-right: 8px;

  &_old {
    font-size: 22px;
    line-height: 31px;
    text-decoration: underline;
    text-underline-offset: -40%;
    text-decoration-skip-ink: none;
  }
}

.specs_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  &_bottom {
    margin-bottom: 16px;
  }
}

.specs_name {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
}

.specs_inf {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: $black-color;
}
