@import './utils/styles/reset';

@font-face {
  font-family: Mont;
  src: url(/public/fonts/Mont-Regular.otf);
}

@font-face {
  font-family: Mont;
  src: url(/public/fonts/Mont-Bold.otf);
  font-weight: 800;
}

@font-face {
  font-family: Mont;
  src: url(/public/fonts/Mont-SemiBold.otf);
  font-weight: 700;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Mont, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #89939A;
  scroll-behavior: smooth;

  &_container {
    background-color: $gray-background;
    padding-block: 24px 64px;
    flex: 1;

    @include on-desktop {
      padding-bottom: 80px;
    }
  }
}
