.hidden_title {
  display: none;
}

.title {
  @include content-padding-inline;

  margin-block: 24px;
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  color: $black-color;
}

.empty_space {
  height: 150px;
}
