.hidden_title {
  display: none;
}

.title {
  @include content-padding-inline;
  @include page-title;

  padding-bottom: 24px;
}

.section {
  margin-bottom: 56px;

  &_categories {
    @include content-padding-inline;
  }
}
