.title {
  @include home-page-section-tittle;

  margin-bottom: 24px;
}

.categories_container {
  @include page-grid;

  row-gap: 32px;
}

.category {
  grid-column: 1 / -1;
}

.image_link {
  display: flex;
  margin-bottom: 24px;
}

.image {
  width: 100%;
  border-radius: 8px;
}

.category_title_link {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 4px;
}

.category_title {
  @include home-page-category-tittle;
}
